<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Adefeyitimi Adeyeloja">
    <meta name="keyword"
        content="Prism Bridge Capital,Bitcoin,Prism Bridge Capital Academy,Cryptocurrency School, Cryptocurrency Tutor,Crypto Trading, Investment, Crypto Money, Investing in Cryptocurrency, Prism Bridge Capital Training, Trading Bitcoin">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/icon.png" />
    <title>Prism Bridge Capital <%= title ? `| ${title}` : "" %>
    </title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font  -->
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i|Roboto:400,400i,500,500i,700,700i"
        rel="stylesheet">
    <!-- icofont icon -->
    <link rel="stylesheet" href="/assets/css/icofont.css">
    <!-- font awesome icon -->
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!--- meanmenu Css-->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css" media="all" />
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="/assets/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.default.min.css">
    <!-- venobox -->
    <link rel="stylesheet" href="/assets/venobox/css/venobox.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive  CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script
        id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/9210ef0dcbbae296095202e67/2c462ec698e6696ba7cdc250b.js");</script>

</head>