<!-- START HEADER SECTION -->
<header class="main-header header-2">

    <!-- START NAVIGATION AREA -->
    <div class="sticky-menu">
        <div class="mainmenu-area">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-12 d-none d-lg-block d-md-none"></div>
                        <nav class="navbar navbar-expand-lg justify-content-left">
                            <ul class="navbar-nav">
                                <li><a href="/index" class="js-scroll-trigger nav-link">Home</a></li>
                                <li><a href="/about" class="js-scroll-trigger nav-link">About Us</a></li>
                                <li><a href="/index/#service" class="js-scroll-trigger nav-link">Services</a></li>
                                <li><a href="/index/#price" class="js-scroll-trigger nav-link">Our Pricing</a></li>
                                <li><a href="/index/#team" class="js-scroll-trigger nav-link">Meet The Team</a></li>
                                <li><a href="/contact" class="js-scroll-trigger nav-link">Contact Us</a></li>
                                <li><a href="/academy" class="js-scroll-trigger nav-link">Our Academy</a></li>
                                <li><a href="/invest/signup" class="nav-link">Sign Up</a></li>
                                <li><a href="/invest/login" class="nav-link">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- <div class="col-lg-3 d-none d-lg-block d-md-none text-right pr-0">
                        <a href="#" class="quote-btn">Get A Quote <i class="icofont icofont-caret-right"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- END NAVIGATION AREA -->	
</header>
<!-- END HEADER SECTION -->