    <!-- START FOOTER -->
    <footer id="footer-contact">
        <!--Footer top -->
        <div class="footer-top overlay section-back-image-2" data-background="assets/img/bg/slide1.jpg">
            <div class="auto-container">
                <div class="row mx-auto">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-5 footer-widget">
                        <div class="footer-logo col-12 p-0">
                            <a href="index-2.html">
								<!-- <div class="footer-logo-icon">
                                 <i class="fab fa-gg-circle"></i>
                                </div> -->
								<div class="footer-logo-text">
                                    <h3>The Moon House</h3>
                                    <!-- <p>Bitcoin Trading Template</p> -->
                                </div>
							</a>
                        </div>
                        <div class="about mb-2">
                            <p>The Moon House is a brand commited to educating the world about Blockchain & Cryptocurrency, the activities that surround it and teaching how to profit greatly from it via Crypto Trading & Investment</p>
                        </div><!--
                        <div class="footer-news">
							<form action="#">
                                <div class="row">
									<div class="form-group col-lg-9 col-md-9 col-8 pr-lg-0 pr-md-0 pr-2">
										<input name="semail" class="form-control" placeholder="Email Address" type="email">
									</div>
									<button type="submit" class="col-lg-3 col-md-2 col-2 p-0 fnews-btn"><i class="fa fa-paper-plane"></i></button>
								</div>
							 </form>
                        </div> -->
                    </div>
                    <!-- End Widget -->
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-5 footer-widget">
                        <div class="footer-section-title col-12 no-padding">
                            <h3>Quick Links</h3>
                        </div>
                        <!-- END SECTION TITLE -->
						<div class="col-12 footer-widget-inner">
							<ul class="quick-link-list">
								<li><a href="#"><i class="fa fa-chevron-circle-right"></i> Home Page</a></li>
								<li><a href="#faq" class="js-scroll-trigger"><i class="fa fa-chevron-circle-right"></i> About Us</a></li>
								<li><a href="#service"><i class="fa fa-chevron-circle-right"></i> Services</a></li>
								<li><a href="#price" class="js-scroll-trigger"><i class="fa fa-chevron-circle-right"></i> Pricing</a></li>
								<li><a href="#footer-contact"><i class="fa fa-chevron-circle-right"></i> Contact Us</a></li>
								<li>
							</ul>
						</div>	
                    </div>
                    <!-- End Widget -->
                    
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-0 footer-widget">
                        <div class="footer-section-title col-12 no-padding">
                            <h3>Stay With Us</h3>
                        </div>
                        <!-- END SECTION TITLE -->
						<div class="col-12 footer-widget-inner">
							<div class="single-fcontact mb-2">
								<div class="single-fcontact-icon">
									<i class="icofont icofont-pin"></i>
								</div>
								<div class="single-fcontact-des">
									<h6>The Moon House:</h6>
									<p>The Block Chain </p>
								</div>
							</div>
							<div class="single-fcontact mb-2">
								<div class="single-fcontact-icon">
									<i class="icofont icofont-mobile-phone"></i>
								</div>
								<div class="single-fcontact-des">
									<h6>Phone Number:</h6>
									<p><a href="https://wa.me/message/DBXRWT73UKTHA1">+2348054372445</a></p>
								</div>
							</div>
							<div class="single-fcontact">
								<div class="single-fcontact-icon">
									<i class="icofont icofont-envelope"></i>
								</div>
								<div class="single-fcontact-des">
									<h6>Email:</h6>
									<p><a href="mailto:themoonhouse.crypto@gmail.com">themoonhouse.crypto@gmail.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-12 mt-4 footer-social-war">
							<div class="footer-social">
								<ul>
									<li><a href="https://www.facebook.com/Themoonhouse1/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
									<li><a href="https://twitter.com/theMoonHouse_" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
									<li><a href="https://wa.me/message/DBXRWT73UKTHA1" target="_blank"><i class="icofont icofont-social-whatsapp"></i></a></li>
									<!-- <li><a href="https://www.linkedin.com/company/the-moon-house/" target="_blank"><i class="icofont icofont-linkedin"></i></a></li> -->
								</ul>
							</div>
						</div>
                    </div>
                    <!-- End Widget -->
                </div>
            </div>
        </div>
		
        <!--Footer Bottom -->
        <div class="copyright">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-4 footer-menu text-center text-lg-left text-md-left">
                        <ul>
                            <li><a href="https://www.linkedin.com/company/the-moon-house/" target="_blank">Company Profile</a> </li>
                            <li><a href="#">Terms & Condition</a> </li>
                            <li><a href="./policy">Privacy Policy</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text text-center text-lg-right text-md-right">
                        <p><a href="#">The Moon House</a></p>
                    </div>
                </div>
            </div>
        </div>
		
    </footer>
    <!-- END FOOTER -->