<!-- START HEADER SECTION -->
<header class="main-header header-1">
    <!-- START TOP AREA -->

    <!-- END TOP AREA -->

    <!-- START LOGO AREA -->
    <div class="logo-area">
        <div class="auto-container">
            <div class="row mobile-top mx-auto">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 pl-0 mb-lg-0 mb-5">
                    <div class="logo">
                        <a href="#">
                           <img class="img-fluid nav-logo" src="assets/img/nav-logo.png" alt="">
                           <span class="logo-text">The Moon House</span>
                        </a>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-9 col-md-12 col-sm-12 col-12 contact-top">
                    <div class="header-info-box">
                        <div class="header-info-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <p>Email Us</p>
                        <h6>themoonhouse.crypto@gmail.com</h6>
                    </div>
                    <div class="header-info-box">
                        <div class="header-info-icon">
                            <i class="icofont icofont-social-whatsapp"></i>
                        </div>
                        <p>Text Us</p>
                        <h6>+2348054372445</h6>
                    </div>
                    <div class="header-info-box">
                        <a href="/academy/signup" target="_blank" class="quote-btn">Get Started <i class="icofont icofont-caret-right"></i></a>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
    <!-- END LOGO AREA -->
    <% 
    var navDir = {
        service : '/#sevice',
        price : '/#price',
        team :'/#team'
    }

     %>
    <!-- START NAVIGATION AREA -->
    <div class="sticky-menu">
        <div class="mainmenu-area">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg justify-content-center">
                            <ul class="navbar-nav">
                                <li><a href="./" class="js-scroll-trigger nav-link">Home</a></li>
                                <li><a href="/about" class="js-scroll-trigger nav-link">About Us</a></li>
                                <li><a href="#service" class="js-scroll-trigger nav-link">Services</a></li>
                                <li><a href="#team" class="js-scroll-trigger nav-link">Meet The Team</a></li>
                                <li><a href="/contact" class="js-scroll-trigger nav-link">Contact Us</a></li>
                                <li><a href="/academy" class="js-scroll-trigger nav-link">Our Academy</a></li>
                                <% if(user){ %>     
                                    <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
                                <% } else { %>   
                                    <li><a href="/user/signup" class="nav-link">Sign Up</a></li>
                                    <li><a href="/user/login" class="nav-link">Login</a></li>
                                <% } %>  
                            </ul>
                        </nav>
                    </div>
                    <!-- <div class="col-lg-3 d-none d-lg-block d-md-none text-right pr-0">
                        <form class="navbar-form">
                            <div class="form-group">
                                <input class="form-control" name="search" value="Search here..." type="text">
                                <button type="submit" class="btn"><i class="fa fa-search-plus"></i></button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- END NAVIGATION AREA -->	
</header>
<!-- END HEADER SECTION -->