<footer>
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="footer text-center">
                <p>By clicking Sign Up, you agree to our <a href="/terms">Terms and Conditions</a> and have read and acknowledged our <a href="/policy">Privacy Policy</a></p>
                <% var date = new Date(); %> 
                <p><a href="/">The Moon House</a> &copy; <%= date.getFullYear(); %> </p>
            </div>
        </div>
    </div>
</footer>