<html lang="en">
<%- include('./partials/academy/academy_head.ejs'); %> 
<%- include('./partials/academy/academy_partial.ejs'); %> 
<body>
    <h1>Student Sign Up</h1>
    <section id="access_form">
        <div class="container">
            <div class="col-12">
                <div class="form_surface">
                    <div class="form">
                        <form id="reg-form">
                            <div class="form-group col-12">
                                <div class="logo_container">
                                    <img src="/assets/img/nav-logo.png" class="logo" alt="">
                                </div>
                                <div class="input">
                                    <input class="form-control" autocomplete="off" type="email" name="email" id="email" placeholder="Email" required>
                                    <input class="form-control" autocomplete="off" type="password" name="password" id="password" placeholder="Password" required>
                                    <p>Already have an account? <a href="/academy/login" class="text-bold">Login</a></p>
                                    <button type="submit" value="Submit Form" class="quote-btn btn">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const form = document.getElementById('reg-form');
        form.addEventListener('submit',registerUser)

        // 1. Send Data as JSON
        async function registerUser(e){
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const result = await fetch('/api/register', {
                method : 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then((res) => res.json());
        }
    </script>
    <footer>
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer text-center">
                    <p>By clicking Sign Up, you agree to our <a href="/terms">Terms and Conditions</a> and have read and acknowledged our <a href="/policy">Privacy Policy</a></p>
                    <% var date = new Date(); %> 
                    <p>The Moon House &copy; <%= date.getFullYear(); %> </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Static Javascript -->
	<%- include('./partials/academy/academy_scripts.ejs') %> 
</body>
</html>