<html lang="en">
<%- include('./partials/head.ejs'); %> 
<%- include('./partials/academy/academy_partial.ejs'); %> 
<body>
    <h1>Login Page</h1>
    <a href="/academy/signup">Sign Up</a>
</body>
</html>