<html lang="en">
<%- include('./partials/academy/academy_head.ejs'); %>

<body>

    <section id="access_form">
        <div class="form_surface">
            <div class="form">
                <form id="reg-form">
                    <div class="logo_container">
                        <img src="/assets/img/nav-logo.png" class="logo" alt="Prism Bridge Capital Logo">
                    </div>
                    <h2>Join the Academy</h2>
                    <p>Sign up for your academy account</p>
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" id="firstName" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" id="lastName" required>
                        <div id="fullname-error" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" type="email" name="email" id="email" placeholder="Email" required>
                        <div id="email-error" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" type="password" name="password" id="password" placeholder="Password" required minlength="8">
                        <div id="password-error" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn">Sign Up</button>
                    <p>Already have an account? <a href="/academy/login" class="text-bold">Login</a></p>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer text-center">
                    <p>By clicking Sign Up, you agree to our <a href="/terms">Terms and Conditions</a> and have read and acknowledged our <a href="/policy">Privacy Policy</a></p>
                    <% var date=new Date(); %>
                    <p>Prism Bridge Capital &copy; <%= date.getFullYear(); %></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Static Javascript -->
    <%- include('./partials/academy/academy_scripts.ejs') %>
</body>

</html>