<html lang="en">
<%- include('./partials/head.ejs'); %> 
<%- include('./partials/admin/admin_partial.ejs'); %> 
<body>
    <h1>Welcome Admin</h1>


    <!-- Static Javascript -->
	<%- include('./partials/scripts.ejs') %> 
</body>
</html>