<html lang="en">
<%- include('./../partials/user/head.ejs'); %> 
<body>

    <%- include('./../partials/user/nav.ejs') %> 
    <link rel="stylesheet" href="/assets/css/user/user.css">
    <section id="access_form">
        <div class="container">
            <div class="col-12">
                <div class="form_surface">
                    <div class="form mx-auto">
                        <form id="login-form">
                            <div class="form-group col-12">
                                <div class="logo_container">
                                    <img src="/assets/img/nav-logo.png" class="logo" alt="">
                                </div>
                                <div class="input">
                                    <input class="form-control" autocomplete="off" type="password" name="password" id="password" placeholder="Password" required>
                                    <button type="submit" value="Submit Form" class="quote-btn btn">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const form = document.getElementById('login-form');
        form.addEventListener('submit', login);


        // Send Data as JSON
        async function login(e){
            e.preventDefault();
            const password = document.getElementById('password').value;

            const result = await fetch('/user/changepassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newpassword:password,
                    token:localStorage.getItem('token')
                })
            }).then((res) => res.json())

            if (result.status === 'ok'){
                // Everything went fine
                // console.log('Got the token', result.data)
                alert('Success');
            } else {
                alert(result.error)
            }
        }
    </script>
    <%- include('../partials/user_cred_footer.ejs') %> 

    <!-- Static Javascript -->
	<%- include('../partials/academy/academy_scripts.ejs') %> 
</body>
</html>