<html lang="en">
<%- include('./../partials/user/head.ejs'); %>

<body>

    <%- include('./../partials/user/nav.ejs') %>
    <link rel="stylesheet" href="/assets/css/user/user.css">

    <section id="access_form">
        <div class="form_surface">
            <div class="form">
                <form id="login-form">
                    <div class="logo_container">
                        <img src="/assets/img/nav-logo.png" class="logo" alt="Prism Bridge Capital Logo">
                    </div>
                    <h2>Welcome Back!</h2>
                    <p>Login to your account</p>
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" type="password" name="password" id="password" placeholder="Password" required minlength="8">
                        <div id="password-error" class="error-message"></div>
                    </div>
                    <p><a href="/user/forgot_password" class="text-bold">Forgot Password?</a></p>
                    <button type="submit" class="btn">Login</button>
                    <p>Don't have an account? <a href="/invest/signup" class="text-bold">Sign Up</a></p>
                </form>
            </div>
        </div>
    </section>

    <script>
        const form = document.getElementById('login-form');
        const passwordError = document.getElementById('password-error');
        form.addEventListener('submit', login);

        async function login(e) {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const result = await fetch('/user/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then((res) => res.json());

            if (result.error) {
                passwordError.textContent = result.error;
            } else if (result.user) {
                location.assign('/dashboard');
            }
        }
    </script>

    <footer>
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer text-center">
                    <p>By clicking Login, you agree to our <a href="/terms">Terms and Conditions</a> and have read and acknowledged our <a href="/policy">Privacy Policy</a></p>
                    <% var date=new Date(); %>
                    <p><a href="/">Prism Bridge Capital</a> &copy; <%= date.getFullYear(); %></p>
                </div>
            </div>
        </div>
    </footer>

    <%- include('../partials/academy/academy_scripts.ejs') %>
</body>

</html>