<html lang="en">
<%- include('./../partials/user/head.ejs'); %> 
<body>

    <%- include('./../partials/user/nav.ejs') %> 
    <link rel="stylesheet" href="/assets/css/user/user.css">
    <section id="access_form">
        <div class="container">
            <div class="col-12">
                <div class="form_surface">
                    <div class="form mx-auto">
                        <form id="reg-form">
                            <div class="form-group col-12">
                                <div class="logo_container">
                                    <img src="/assets/img/nav-logo.png" class="logo" alt="">
                                </div>
                                <div class="input">
                                    <input class="form-control" autocomplete="off" type="email" name="email" id="email" placeholder="Email" required>
                                    <input class="form-control" autocomplete="off" type="password" name="password" id="password" placeholder="Password" required>
                                    <p><a href="/user/forgot_password">Forgot Password?</a></p>
                                    <p>Don't have an account? <a href="/user/signup" class="text-bold">Sign Up</a></p>
                                    <button type="submit" value="Submit Form" class="quote-btn btn">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    </script>
    <%- include('../partials/user_cred_footer.ejs') %> 

    <!-- Static Javascript -->
	<%- include('../partials/academy/academy_scripts.ejs') %> 
</body>
</html>