<html lang="en">
<%- include('./../partials/user/head.ejs'); %> 
<body>

    <%- include('./../partials/user/nav.ejs') %> 
    <link rel="stylesheet" href="/assets/css/user/user.css">
    <section id="access_form">
        <div class="container">
            <div class="col-12">
                <div class="form_surface">
                    <div class="form mx-auto">
                        <form id="login-form">
                            <div class="form-group col-12">
                                <div class="logo_container">
                                    <img src="/assets/img/nav-logo.png" class="logo" alt="">
                                </div>
                                <div class="input">
                                    <input class="form-control" autocomplete="off" type="email" name="email" id="email" placeholder="Email" required>
                                    <input class="form-control" autocomplete="off" type="password" name="password" id="password" placeholder="Password" required>
                                    <div id="password-error"></div>
                                    <p><a href="/user/forgot_password">Forgot Password?</a></p>
                                    <p>Don't have an account? <a href="/user/signup" class="text-bold">Sign Up</a></p>
                                    <button type="submit" value="Submit Form" class="quote-btn btn">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const form = document.getElementById('login-form');
        const passwordError = document.getElementById('password-error');
        form.addEventListener('submit', login);


        // Send Data as JSON
        async function login(e){
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            console.log(email,password);
            const result = await fetch('/user/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then((res) => res.json())
            .then((data) =>{
                if(data.error == 'Invalid Username/Password'){
                    passwordError.textContent = data.error
                }
                if(data.user){
                    
                }
            })
            // .then((data) => window.location.href = data.redirect)
            .catch((err) => console.log(err))

            if (result.status === 'ok'){
                // Everything went fine
                localStorage.setItem('token', result.data)
                console.log('Got the token', result.data)
                // alert('Success');
            } else {
                // alert(result.error)
            }
        }
    </script>
        <footer>
            <div class="container-fluid">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer text-center">
                        <p>By clicking Login, you agree to our <a href="/terms">Terms and Conditions</a> and have read and acknowledged our <a href="/policy">Privacy Policy</a></p>
                        <% var date = new Date(); %> 
                        <p><a href="/">The Moon House</a> &copy; <%= date.getFullYear(); %> </p>
                    </div>
                </div>
            </div>
        </footer>

    <!-- Static Javascript -->
	<%- include('../partials/academy/academy_scripts.ejs') %> 
</body>
</html>