:root {
  --orange: #f7921a;
}
.orange {
  color: var(--orange);
}
/* Logo */
.nav-logo {
  height: auto;
  width: 25%;
}
.logo-text {
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000 !important;
}
.refer-flyer {
  width: 35%;
  height: auto;
  border-radius: 15px;
  transition: 0.8s;
}
.watchman {
  margin-top: 11rem;
}
.refer-flyer:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 800px) {
  .logo {
    text-align: center;
    margin-top: -1em;
  }
  .logo-text {
    /* display: none; */
    font-size: 15px;
    /* width: 100%; */
  }
  .contact-top {
    display: none;
  }
  .mobile-top {
    height: 25px;
  }
}
@media screen and (max-width: 420px) {
  .refer-flyer {
    height: auto;
    width: 70% !important;
    height: auto;
    border-radius: 15px;
    transition: 0.8s;
  }
  .logo-text {
    /* display: none; */
    font-size: 15px;
    /* width: 100%; */
  }
}
/* ROI Calculator Section */
#roi-calculator-section .single-wprocess-text h3 {
  color: #fff !important;
}
#roi-calculator-section .single-wprocess {
  background: #2f2728;
  cursor: pointer;
}
