/* Admin  */
body{
    background-color:rgb(247, 152, 39) ;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
footer{
    background-color: #ffffff;
    margin-top:auto;
    min-height: 75px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #fff;
    max-width: 310px;
    min-width: 280px;
    min-height: 500px;
    z-index: 999;
    box-shadow: 0px 1px 30px -5px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 1px 30px -5px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 1px 30px -5px rgba(0,0,0,0.69);
    border-radius: 30px;
}
.form .form-group{
    /* margin-top:5em; */
    text-align: center;
}
.form_surface{
    margin-top:30px;
}
.form input{
    margin: 15px 0;
}
.form button{
    cursor: pointer;
    margin-top: 20px;
}
.input{
    margin-top:3.5em;
}
.logo{
    width:25%;
    height: auto;
}
.logo_container{
    padding-top:2.5em;
}
#access_form{
    margin-top:4em;
    margin-bottom: 2.5rem;
}
.welcome-col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    background-color:#fff;
    border-radius:30px;
    text-align: center;
    padding:25px 20px;
    min-height: 500px;
    box-shadow: 0px 1px 30px -5px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 1px 30px -5px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 1px 30px -5px rgba(0,0,0,0.69);
}
.main-header.header-2 .mainmenu-area{
    background-color:#fff;
}
.main-header .mainmenu-area .navbar-nav .nav-link{
    color:#333 !important;
}
.main-header .mainmenu-area .navbar-nav .nav-link:hover{
    color:#fff !important;
}